@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>加息券使用规则</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Globak-x">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="@YxLiCai.HttpPageHelper.GetRemoteNetURL(YxLiCai.SystemSiteEnum.StaticResourceMallWeb, "css/m_base.css")" rel="stylesheet">
    <link href="@YxLiCai.HttpPageHelper.GetRemoteNetURL(YxLiCai.SystemSiteEnum.StaticResourceMallWeb, "css/uc/uc_matter.css")" rel="stylesheet">
    <link href="@YxLiCai.HttpPageHelper.GetRemoteNetURL(YxLiCai.SystemSiteEnum.StaticResourceMallWeb, "css/global_x.css")" rel="stylesheet">
       <script src="@YxLiCai.HttpPageHelper.GetRemoteNetURL(YxLiCai.SystemSiteEnum.StaticResourceMallWeb, "js/loader/sea.js")"></script>
 
       <script src="@YxLiCai.HttpPageHelper.GetRemoteNetURL(YxLiCai.SystemSiteEnum.StaticResourceMallWeb, "js/loader/sea-config.js")"></script>
 <script>
     var _hmt = _hmt || [];
     (function () {
         var hm = document.createElement("script");
         hm.src = "//hm.baidu.com/hm.js?4a04f76609debae02c1909eaeb218337";
         var s = document.getElementsByTagName("script")[0];
         s.parentNode.insertBefore(hm, s);
     })();
</script>
</head>
<body>
    <div class="show-container">
        <div class="uc-show">
            <div class="uc-show-list">
                <h2 id="rule-useTicket">加息券使用规则</h2>
                <h5>1、新用户注册特权：</h5>
                <p class="uc-show-wordT">新用户注册成功就能马上获得10000元的特享金以及1%的加息券。</p>
                <h5>2、老用户邀请特权：</h5>
                <p class="uc-show-wordT">老用户邀请好友加入e休理财，每成功邀请一位好友注册成功，即可获得1000元的特享金以及0.2%的加息券，特享金邀请上限10个人，加息券无上限。</p>
                <h5>3、使用说明：</h5>
                <p class="uc-show-wordT">1.每个加息券的有效时间为<b>15</b>天，在有效期内用户可以选择月月盈，季季享，年年丰产品当中的任意一款产品，每笔投资在原有收益基础上增加特享收益率。</p>
                <p class="uc-show-wordT">2.可以同时使用多个加息券，但累加上限为2%。</p>
                <h5>4、取消特权资格：</h5>
                <p class="uc-show-wordT">1.若发现用户恶意注册，刷特权收益率及特享金，e休理财将有权取消该用户获得的特权收益率及本金。</p>
                <p class="uc-show-wordT">2.若用户将特享金产生的收益取现到银行卡时，提供错误银行卡信息，视为该用户放弃特权收益的获得。</p>
                <p class="uc-show-wordT">3.用户邀请的多个被邀请好友的手机号码出现不存在、过期、停机、空号等。</p>
                <p class="uc-show-wordT">4.用户通过技术以及其他非正规手段获得特权。</p>
                <p class="uc-show-wordT">5.如果被取消特权的用户有任何有异议可以联系客服。</p>
                <p class="uc-show-wordT"><b>*以上内容最终解释权归e休理财所有。</b></p>
            </div>
        </div>
        <div class="uc-show-btn"><a href="/Activity/invite" class="ui-btn">给好友发特权</a></div>
    </div>
</body>
</html>
<!-- 浮动栏 -->
<div class="yx-fixedBar">
    <a class="yx-back" href="javasrcipt:void(0);">返回</a>
    <a class="yx-home" href="/">首页</a>
</div>
<script>
    seajs.use('fixed_bar');  
</script>