<div class="zpManage zpSh">
    <h2 class="crumbs">您所在位置：充值 > 个人提现
    </h2>
    <div class="SearchMd form-horizontal">
        <table>
            <tr>
                <td>可提现金额：</td>
                <td>@(YxLiCai.Tools.Const.SystemConst.MoenyConvert(ViewBag.Amount))</td>
                <td></td>
            </tr>
            <tr>
                <td>提现金额：</td>
                <td>
                    <input type="text" id="RechargeMoney" />
                    &nbsp; &nbsp; &nbsp;<input type="button" id="btnRecharge" value="提现" />
                </td>
                <td></td>
            </tr>
        </table>

    </div>
    <div class="SearchMd form-horizontal">
        @Html.Partial("EditorTemplates/KendoTextBox",
        new YxLiCai.Admin.Models.KendoTextBoxViewModel
        {
            Content = "订单号",
            Id = "Order"
        })
        @*        @Html.Partial("EditorTemplates/KendoTextBox",
        new YxLiCai.Admin.Models.KendoTextBoxViewModel
        {
            Content = "提现金额（起）",
            Id = "recharge_moneyStar"
        })
        @Html.Partial("EditorTemplates/KendoTextBox",
        new YxLiCai.Admin.Models.KendoTextBoxViewModel
        {
            Content = "提现金额（终）",
            Id = "recharge_moneyEnd"
        })*@
        @Html.Partial("EditorTemplates/KendoDate",
        new YxLiCai.Admin.Models.KendoDateTimeViewModel
        {
            Content = "提现时间(起)",
            Id = "recharge_timeStar",
            Format = "yyyy-MM-dd"
        })
        @Html.Partial("EditorTemplates/KendoDate",
        new YxLiCai.Admin.Models.KendoDateTimeViewModel
        {
            Content = "提现时间(终)",
            Id = "recharge_timeEnd",
            Format = "yyyy-MM-dd"
        })
        <input type="button" id="btnSearch" value="查询" class="searchBtn" />
    </div>
    <div class="control-group form-horizontal">
        <div class="control-group">
            <div class="tbstyle">
                <div id="productGrid"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("#btnRecharge").click(function () {
            var money = $("#RechargeMoney").val().replace(/\-/g, "\/");
            if (money == "") { alert("请输入提现金额"); return; }
            var raisemoney = money;
            raisemoney = raisemoney.replace(/[^\d.]/g, "");
            //必须保证第一个为数字而不是.
            raisemoney = raisemoney.replace(/^\./g, "");
            //保证只有出现一个.而没有多个.
            raisemoney = raisemoney.replace(/\.{2,}/g, ".");
            //保证.只出现一次，而不能出现两次以上
            raisemoney = raisemoney.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");

            raisemoney = raisemoney.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');

            $('#RechargeMoney').val(raisemoney);
            var Money = $("#RechargeMoney").val().replace(/\-/g, "\/");
            var OldMoney = '@ViewBag.Amount';
            if (Money > OldMoney) {
                alert("提现金额超出了现有可提现金额"); return;
            }

            if (confirm("确定要提现")) {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "/Financing/Add_fer_withdraw",
                    data: { amount: Money },
                    success: function (data) {
                        if (data.Status == 1) {
                            window.location.href = "Fer_withdraw";
                            alert(data.Message);
                        } else { window.location.href = "Fer_withdraw"; alert(data.Message); }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    },
                });

            }
        });

    });
    require(['CRM/common.assets'], function (common) {
        var grid = $("#productGrid").kendoGrid({
            sortable: true,
            pageable: true,
        }).data("kendoGrid");
        $("#btnSearch").bind("click", function () {
            var Order = $("#Order").val(),
                //recharge_moneyStar = $("#recharge_moneyStar").val(),
                //recharge_moneyEnd = $("#recharge_moneyEnd").val(),
                recharge_timeStar = $("#recharge_timeStar").val(),
                recharge_timeEnd = $("#recharge_timeEnd").val();
            var beginDate = $("#recharge_timeStar").val();
            var endDate = $("#recharge_timeEnd").val();
            var d1 = new Date(beginDate.replace(/\-/g, "\/"));
            var d2 = new Date(endDate.replace(/\-/g, "\/"));
            //var m1 = parseInt(recharge_moneyStar);
            //var m2 = parseInt(recharge_moneyEnd);
            //if (m1 != "" && m2 != "" && m1 > m2) {
            //    alert("提现金额(起)不能大于提现金额(终)!");
            //    return false;
            //}
            if (beginDate != "" && endDate != "" && d1 > d2) {
                alert("提现时间(起)不能大于提现时间(终)!");
                return false;
            }
            //var param = {
            //    Order: Order, recharge_moneyStar: recharge_moneyStar, recharge_moneyEnd: recharge_moneyEnd, recharge_timeStar: recharge_timeStar, recharge_timeEnd: recharge_timeEnd
            //};
            var param = {
                Order: Order, recharge_timeStar: recharge_timeStar, recharge_timeEnd: recharge_timeEnd
            };
            var productDs = new kendo.data.DataSource({
                pageSize: 15,
                transport: {
                    read: {
                        url: "/Financing/GetFer_Withdraw_List",
                        dataType: "json",
                        dataType: "json",
                        data: param
                    }
                },
                schema: {
                    model: {
                        id: "fer_id"
                    }
                }
            });
            grid.bind("dataBinding", function (e) {
                if (productDs.Binding) return;
                for (var i = 0; i < productDs.data().length; i++) {
                    if (productDs.at(i).c_time != null) {
                        var date1 = new Date(parseInt(productDs.at(i).c_time.substr(6)));
                        productDs.at(i).c_time = date1.format("yyyy-MM-dd");
                    }
                    if (productDs.at(i).type != null) {
                        if (productDs.at(i).type == 0) { productDs.at(i).type = "易宝提现"; } else { productDs.at(i).type = "其他"; }
                    }
                    if (productDs.at(i).status != null) {
                        if (productDs.at(i).status == 0) { productDs.at(i).status = "待审核"; } else if (productDs.at(i).status == 1) { productDs.at(i).recharge_status = "审核不通过"; } else if (productDs.at(i).status == 1) { productDs.at(i).recharge_status = "成功"; } else { productDs.at(i).recharge_status = "失败"; }
                    }
                }
                productDs.Binding = true;
            });
            var columns = [
              { field: "fer_id", title: "UID", sortable: true },
              { field: "user_withdraw_id", title: "订单号", sortable: true },
              { field: "type", title: "提现方式", sortable: true },
              { field: "amount", title: "提现金额", sortable: true },
              { field: "status", title: "提现状态", sortable: true },
              { field: "bankcard", title: "银行卡", sortable: true },
              { field: "c_time", title: "提现时间", sortable: true },
            ];
            grid.setOptions({
                dataSource: productDs,
                columns: columns,
                selectable: "multiple, row"
            });
        });
    });
</script>
