@model YxLiCai.Model.UserFinancingManagement.UserInfo_FinancingManagement_Model
@using YxLiCai.Server.UserFinancingManagement
@using YxLiCai.Model
@using YxLiCai.Model.UserFinancingManagement
@using YxLiCai.Admin
@using YxLiCai.Tools.Const


<style type="text/css">
    * {
        padding: 0;
        margin: 0;
        line-height: 25px;
        font-size: 12px;
        list-style: none;
    }

    #tabContainer {
        margin: 30px;
    }

        #tabContainer li {
            float: left;
            width: 80px;
            margin: 0 3px;
            background: #efefef;
            text-align: center;
        }

        #tabContainer a {
            display: block;
        }

            #tabContainer a.on {
                background: pink;
            }

    .gx-texttitle {
        font-size: 14px;
        color: #666;
        width: 142px;
        text-align: right;
        display: inline-block;
    }
</style>
<div class="zpManage zpSh">
    <h2 class="crumbs">您所在位置：第三方管理->用户管理->个人信息
    </h2>
</div>
<div class="gx-textitem">
    <p style="font-size: large;">用户信息</p>
    <label class="gx-texttitle">真实姓名：</label>
    @if (!(string.IsNullOrEmpty(Model.myreal_card)))
    {
        if (Model.isreal_card == 1)
        { <label class="gx-texttitle">@Model.myreal_name</label> }
        else
        {<a href="IdentityAuthentication">未验证</a>}
    }
    <label class="gx-texttitle">登录密码：</label><a href="UpdatePasswerd">修改</a>
    <label class="gx-texttitle">交易密码：</label>
    @if (!(string.IsNullOrEmpty(Model.spassword)))
    {     <a href="UpdateSPasswerd?type=0">修改</a>
    }
    else
    { <a href="UpdateSPasswerd?type=1">未设置</a> }
    <br />
    <label class="gx-texttitle">手机号：</label>
    @if (!(string.IsNullOrEmpty(Model.phone)))
    {
        <label class="gx-texttitle">@Model.phone</label> 
       
    }
    else
    {<a href="CheckPhone">未验证</a>}
    <label class="gx-texttitle">银行卡：</label>
    @if (!(string.IsNullOrEmpty(Model.bank_card)))
    {
        if (Model.isbank_card == 1)
        { <label class="gx-texttitle">@Model.bank_card</label> }
        else
        {<a href="IdentityAuthentication">去绑定</a>}
    }
    else
    {<a href="IdentityAuthentication">未绑定</a>}
    <div>
        <p style="font-size: large;">资产信息</p>
        @{UserInfo_FinancingManagement_Services user = new UserInfo_FinancingManagement_Services(); ;
          ResultInfo<Fina_User_Count_Model> result = user.GetFina_User_Count_Model(UserContext.simpleUserInfoModel.Id);

          if (result.Result && result.Data != null)
          { 
            <label class="gx-texttitle">账户余额（元）：</label><label class="gx-texttitle">@SystemConst.MoenyConvert(result.Data.amount)</label>
            <label class="gx-texttitle">借款资金（元）：</label><label class="gx-texttitle">@SystemConst.MoenyConvert(result.Data.amount_borrow)</label>
            <label class="gx-texttitle">冻结金额（元）：</label><label class="gx-texttitle">@SystemConst.MoenyConvert(result.Data.amount_repay_fz)</label>
            <br />

            <label class="gx-texttitle">已还本金（元）：</label><label class="gx-texttitle">@SystemConst.MoenyConvert(result.Data.amount_paid)</label>
            <label class="gx-texttitle">可用余额（元）：</label><label class="gx-texttitle">@SystemConst.MoenyConvert(result.Data.amount_repay)</label>

            <br />
            <label class="gx-texttitle">已付利息（元）：</label><label class="gx-texttitle">@SystemConst.MoenyConvert(result.Data.interest_paid)</label>
          }
          else
          { <label class="gx-texttitle">账户余额（元）：</label><label class="gx-texttitle">0</label>
            <label class="gx-texttitle">借款资金（元）：</label><label class="gx-texttitle">0</label>
            <label class="gx-texttitle">冻结金额（元）：</label><label class="gx-texttitle">0</label>
            <br />

            <label class="gx-texttitle">已还本金（元）：</label><label class="gx-texttitle">0</label>
            <label class="gx-texttitle">可用余额（元）：</label><label class="gx-texttitle">0</label>

            <br />
            <label class="gx-texttitle">已付利息（元）：</label><label class="gx-texttitle">0</label>}          
        }

    </div>
</div>
<div id="tabContainer">
    <p style="font-size: large;">项目信息</p>
    <ul>
        <li id="tab1"><a href="#" class="on" onclick="switchTab('tab1','con1');this.blur();return false;">还款记录</a></li>
        <li id="tab2"><a href="#" onclick="switchTab('tab2','con2');this.blur();return false;">利息</a></li>
        <li id="tab3"><a href="#" onclick="switchTab('tab3','con3');this.blur();return false;">本金</a></li>
    </ul>
    <div style="clear: both">
    </div>
    <div id="con1">
        <div class="SearchMd form-horizontal">
            项目期限：<input id="LoanPeriod" style="width: 50px" />
            项目名称：<input id="ProjectName_rep" style="width: 50px" />
            还款日期：
            <input type="text" id="S_Time" class="Wdate gx-textbox" style="height: 28px; width: 110px" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />至   
            <input type="text" id="E_Time" class="Wdate gx-textbox" style="height: 28px; width: 110px" onclick="    WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
            还款金额：<input id="SMoney" style="width: 50px" />至<input id="EMoney" style="width: 50px" />
            <input type="button" id="btnSearch" value="查询" class="searchBtn" />
        </div>
        <div class="control-group form-horizontal">
            <div class="control-group">
                <x style="color: red">  </x>
                <div class="tbstyle">
                    <div id="productGrid"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="con2" style="display: none">
        <div class="SearchMd form-horizontal">
            项目期限：<input id="LoanPeriod_Interest" style="width: 50px" />
            待付利息：<input id="Wait_Interest" style="width: 50px" />
            <input type="button" id="btnSearch_Interest" value="查询" class="searchBtn" />
        </div>
        <div class="control-group form-horizontal">
            <div class="control-group">
                <x style="color: red">  </x>
                <div class="tbstyle">
                    <div id="productGrid_Interest"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="con3" style="display: none">
        <div class="SearchMd form-horizontal">
            项目名称：<input id="ProjectName" />
            项目金额：<input id="Amount_Principal" />
            <input type="button" id="btnSearch_Principal" value="查询" class="searchBtn" />
        </div>
        <div class="control-group form-horizontal">
            <div class="control-group">
                <x style="color: red">  </x>
                <div class="tbstyle">
                    <div id="productGrid_Principal"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: none; width: 500px;" id="JoinBlacklistDiv" class="add-openbox add-form">
    <div style="text-align: center;">
        <p>请输入还款金额：</p>
        <input id="RepMoney" />
        @*<p>500字以内</p>*@
        <p>
            <input style="margin: 5px" type="button" value="提交申请" id="ConfirmApp" /><input style="margin: 5px" type="button" value="取消" id="CancleApp" />
        </p>
    </div>
</div>
<script type="text/javascript">
    function switchTab(ProTag, ProBox) {
        for (i = 1; i < 4; i++) {
            if ("tab" + i == ProTag) {
                document.getElementById(ProTag).getElementsByTagName("a")[0].className = "on";
            } else {
                document.getElementById("tab" + i).getElementsByTagName("a")[0].className = "";
            }
            if ("con" + i == ProBox) {
                document.getElementById(ProBox).style.display = "";
            } else {
                document.getElementById("con" + i).style.display = "none";
            }
        }
    }

    require(['CRM/common.assets'], function (common) {
        //还款记录开始-start
        var grid_productGrid = $("#productGrid").kendoGrid({
            sortable: true,
            pageable: true,
        }).data("kendoGrid");
        $("#btnSearch").bind("click", function () {
            var Panme = $("#ProjectName_rep").val(),
               LoanPeriod = $("#LoanPeriod").val(),
                recharge_moneyStar = $("#SMoney").val(),
                recharge_moneyEnd = $("#EMoney").val(),
                recharge_timeStar = $("#S_Time").val(),
                recharge_timeEnd = $("#E_Time").val();
            var beginDate = $("#S_Time").val();
            var endDate = $("#E_Time").val();
            var d1 = new Date(beginDate.replace(/\-/g, "\/"));
            var d2 = new Date(endDate.replace(/\-/g, "\/"));
            var m1 = parseInt(recharge_moneyStar);
            var m2 = parseInt(recharge_moneyEnd);
            if (m1 != "" && m2 != "" && m1 > m2) {
                alert("还款金额(起)不能大于还款金额(终)!");
                return false;
            }
            if (beginDate != "" && endDate != "" && d1 > d2) {
                alert("还款日期(起)不能大还款日期(终)!");
                return false;
            }
            var param = {
                ProjectName: Panme, recharge_moneyStar: recharge_moneyStar, recharge_moneyEnd: recharge_moneyEnd, recharge_timeStar: recharge_timeStar, recharge_timeEnd: recharge_timeEnd, LoanPeriod: LoanPeriod
            };
            var productDs = new kendo.data.DataSource({
                pageSize: 15,
                transport: {
                    read: {
                        url: "/Financing/GetPjt_repayment_Model_List",
                        dataType: "json",
                        dataType: "json",
                        data: param
                    }
                },
                schema: {
                    model: {
                        id: "financier_id"
                    }
                }
            });
            grid_productGrid.bind("dataBinding", function (e) {
                if (productDs.Binding) return;
                for (var i = 0; i < productDs.data().length; i++) {
                    if (productDs.at(i).m_time != null) {
                        var date1 = new Date(parseInt(productDs.at(i).m_time.substr(6)));
                        productDs.at(i).m_time = date1.format("yyyy-MM-dd");
                    }
                    if (productDs.at(i).pjt_type != null) {
                        if (productDs.at(i).pjt_type == 1) { productDs.at(i).pjt_type = "本金偿还"; } else { productDs.at(i).pjt_type = "利息偿还"; }
                    }
                }
                productDs.Binding = true;
            });
            var columns = [
              { field: "PID", title: "PID", sortable: true },
              { field: "Pname", title: "项目名称", sortable: true },
              { field: "Pmoney", title: "项目金额", sortable: true },
               { field: "LoanPeriod", title: "项目期限", sortable: true },
               { field: "rep_amount", title: "还款金额", sortable: true },
               { field: "m_time", title: "还款日期", sortable: true },
              { field: "pjt_type", title: "还款类型", sortable: true },
            ];
            grid_productGrid.setOptions({
                dataSource: productDs,
                columns: columns,
                selectable: "multiple, row"
            });
        });
        //还款记录结束-end

        //利息记录开始-start
        var grid_Interest = $("#productGrid_Interest").kendoGrid({
            sortable: true,
            pageable: true,
        }).data("kendoGrid");
        $("#btnSearch_Interest").bind("click", function () {
            var LoanPeriod = $("#LoanPeriod_Interest").val().replace(/\-/g, "\/"),
                interest_payable = $("#Wait_Interest").val().replace(/\-/g, "\/");
            var param = { LoanPeriod: LoanPeriod, interest_payable: interest_payable };
            var productDs = new kendo.data.DataSource({
                pageSize: 15,
                transport: {
                    read: {
                        url: "/Financing/GetFer_account_item_List",
                        dataType: "json",
                        dataType: "json",
                        data: param
                    }
                },
                schema: {
                    model: {
                        id: "PID"
                    }
                }
            });
            grid_Interest.bind("dataBinding", function (e) {
                if (productDs.Binding) return;
                for (var i = 0; i < productDs.data().length; i++) {
                    if (productDs.at(i).c_time != null) {
                        var date1 = new Date(parseInt(productDs.at(i).c_time.substr(6)));
                        productDs.at(i).c_time = date1.format("yyyy-MM-dd");
                    }
                    if (productDs.at(i).pay_type != null) {
                        if (productDs.at(i).pay_type == 0) { productDs.at(i).pay_type = "易宝充值"; } else { productDs.at(i).pay_type = "其他"; }
                    }
                    if (productDs.at(i).status != null) {
                        if (productDs.at(i).status == 1) { productDs.at(i).status = "充值成功"; } else { productDs.at(i).status = "充值失败"; }
                    }
                    if (productDs.at(i).repay_type != null) {
                        if (productDs.at(i).repay_type == 1) { productDs.at(i).repay_type = "利息偿还"; } else { productDs.at(i).repay_type = "本金偿还"; }
                    }

                }
                productDs.Binding = true;
            });
            var columns = [
              { field: "PID", title: "PID", sortable: true },
              { field: "Pname", title: "项目名称", sortable: true },
              { field: "Pmoney", title: "项目金额", sortable: true },
               { field: "LoanPeriod", title: "项目期限", sortable: true },
              { field: "interest_paid", title: "已付利息", sortable: true },
              { field: "interest_payable", title: "待付利息", sortable: true },
            ];
            grid_Interest.setOptions({
                dataSource: productDs,
                columns: columns,
                selectable: "multiple, row"
            });
        });

        //利息记录结束-end



        //本金记录开始-start
        var productDssss;
        var grid_Principal = $("#productGrid_Principal").kendoGrid({
            sortable: true,
            pageable: true,
        }).data("kendoGrid");
        $("#btnSearch_Principal").bind("click", function () {
            var ProjectName = $("#ProjectName").val().replace(/\-/g, "\/"),
                recharge_moneyStar = $("#Amount_Principal").val().replace(/\-/g, "\/");
            var param = {
                ProjectName: ProjectName, recharge_moneyStar: recharge_moneyStar
            };
            productDssss = new kendo.data.DataSource({
                pageSize: 15,
                transport: {
                    read: {
                        url: "/Financing/GetProjectModel_List",
                        dataType: "json",
                        data: param
                    }
                },
                schema: {
                    model: {
                        id: "Id"
                    }
                }
            });
            //grid_Principal.bind("dataBinding", function (e) {
            //    if (productDs.Binding) return;
            //    for (var i = 0; i < productDs.data().length; i++) {
            //        if (productDs.at(i).c_time != null) {
            //            var date1 = new Date(parseInt(productDs.at(i).c_time.substr(6)));
            //            productDs.at(i).c_time = date1.format("yyyy-MM-dd");
            //        }
            //        if (productDs.at(i).pay_type != null) {
            //            if (productDs.at(i).pay_type == 0) { productDs.at(i).pay_type = "易宝充值"; } else { productDs.at(i).pay_type = "其他"; }
            //        }
            //        if (productDs.at(i).status != null) {
            //            if (productDs.at(i).status == 1) { productDs.at(i).status = "充值成功"; } else { productDs.at(i).status = "充值失败"; }
            //        }
            //        if (productDs.at(i).repay_type != null) {
            //            if (productDs.at(i).repay_type == 1) { productDs.at(i).repay_type = "利息偿还"; } else { productDs.at(i).repay_type = "本金偿还"; }
            //        }

            //    }
            //    productDs.Binding = true;
            //});
            var columns = [
              { field: "Id", title: "PID", sortable: true },
              { field: "ProjectName", title: "项目名称", sortable: true },
              { field: "Amount", title: "项目金额", sortable: true },
               { field: "LoanPeriod", title: "项目期限", sortable: true },
              { field: "Amount_paid", title: "已还金额", sortable: true },
            ];
            //columns.push({ title: "操作", command: { text: "申请", click: function (e) { alert(  e.); } } });   
            columns.push({ title: "操作", width: 100, command: { text: "申请", click: function (e) { pay_loan(this, e); } } });
            grid_Principal.setOptions({
                dataSource: productDssss,
                columns: columns,
                selectable: "multiple, row"
            });
        });

        //申请还款
        var amount = 0;
        var repamount = 0;
        var project_ID = 0;
        var row_del;
        function pay_loan(grid, e) {
            $("#JoinBlacklistDiv").show();
            e.preventDefault();
            var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
            //alert(dataItem.Id);
            //alert(dataItem.Amount_paid);
            //$("#JoinBlacklistDiv").hide();
            amount = parseInt(dataItem.Amount);
            repamount = parseInt(dataItem.Amount_paid);
            project_ID = dataItem.Id;
            row_del = dataItem;
        }
        $("#CancleApp").click(function () { $("#JoinBlacklistDiv").hide(); $("#RepMoney").val(""); });
        ///提交申请
        $("#ConfirmApp").click(function () {
            var nowamount = parseInt($("#RepMoney").val().replace(/\-/g, "\/"));
            if ($("#RepMoney").val().replace(/\-/g, "\/") == "") { alert("请输入还款金额"); return; }
            if (!pcheck(nowamount)) {
                alert("请输入整额数字");
                return;
            }
            if (nowamount + repamount > amount) {
                alert("你的还款超出了项目金额");
                return;
            }
            var flag = false;
            ///异步提交申请操作
            $.ajax({
                type: "POST",
                async: false,
                url: "/Financing/ApplicationRepayment",
                data: { project_ID: project_ID, nowamount: nowamount },
                success: function (data) {
                    if (data.Status == 1) {
                        flag = true;
                        alert(data.Message);
                        productDssss.remove(row_del);
                        $("#JoinBlacklistDiv").hide();
                    } else {
                        alert(data.Message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                },
            });
            if (flag)
            { $("#RepMoney").val(""); }

        });
        ///检测密码（）
        function pcheck(str) {
            var reg = /^[0-9]{1,9}$/;
            if (!reg.test(str)) {
                return false;
            } else {
                return true;
            }
        };
        //本金记录结束-end

    });

</script>
