@model YxLiCai.Model.ActivityManage.ActInterestCoupon
@section styles
{
    <link href="~/Resource/css/font-awesome.min.css" rel="stylesheet" />
}
<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：活动管理->加息券->审核加息券
    </h2>
</div>
<div class="gx-textitem">
    <label class="gx-texttitle">
        加息券名称：
    </label>
    <input id="name" type="text" disabled="disabled" value="@Model.name" class="gx-textbox" placeholder="请输入内容..."><span style="color:red">*名称唯一</span>
    <br/>
    <label class="gx-texttitle">
        面值(%)：
    </label>
    <input id="amount" type="text" disabled="disabled" value="@YxLiCai.Tools.Const.SystemConst.MoenyConvert(Model.interest_rate)" class="gx-textbox" placeholder="请输入内容...">
    <br/>
    <label class="gx-texttitle">
        有效期(天)：
    </label>
    <input id="enableday" type="text" disabled="disabled" value="@Model.enable_day" class="gx-textbox" placeholder="请输入内容..."><span style="color:red">*用户活动加息券后开始计算的期限</span>
    <br/><br/><br/>
    <label class="gx-texttitle">
        使用条件：
    </label>
    <label><input type="checkbox" disabled="disabled" name="usecondition" id="pt1">月月盈</label>
    <label><input type="checkbox" disabled="disabled" name="usecondition" id="pt2">季季享-3个月</label><span style="color: red; margin-left: 15px;">*至少选择一项，可多选</span>
    <br/>
    <label class="gx-texttitle">
    </label>
    <label><input type="checkbox" disabled="disabled" name="usecondition" id="pt4">年年丰</label>
    <label><input type="checkbox" disabled="disabled" name="usecondition" id="pt3">季季享-6个月</label>
    <br/>
    <label class="gx-texttitle">
        审核备注：
    </label>
    <textarea id="remark">@Model.remark</textarea><br />
    <button id="pass" class="gx-button gx-button-info" style="margin:30px;">审核通过</button>
    <button id="refuse" class="gx-button gx-button-info" style="margin:30px">拒绝通过</button>
    <button id="cancle" class="gx-button gx-button-info" style="margin:30px">取消</button>

</div>
<script type="text/javascript">
    $(function () {
        var usecondition = "@Model.use_condition";
        var uca = usecondition.split(',');
        for (var i = 0; i < uca.length; i++) {
            var ptstr = "pt" + uca[i];
            $("#" + ptstr).attr("checked", "checked");
        }
    })
    $("#cancle").on("click", function () {
        window.location = "/ActivityManege/InterestCouponList";
    })
    function UpdateStatus(status)
    {
        var id = "@Model.id";
        var remark = $("#remark").val();
        if (status == 2 && remark == "") {
            alert("备注不能为空！");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/ActivityManege/UpdateInterestCouponStatus",
            data: { id: id, status: status, remark: remark },
            async: false,
            success: function (data) {
                if (data != null) {
                    if (data == "ok") {
                        alert("操作成功！");
                        window.location = "/ActivityManege/InterestCouponList";
                    }
                    else {
                        alert(data.Message);
                    }
                }
            }
        })
    }
    $("#pass").on("click", function () {
        UpdateStatus(1);
    })
    $("#refuse").on("click", function () {
        UpdateStatus(2);
    })
</script>